.cards{
  padding-top: 20px;


}


.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  padding-bottom: 40px;
  justify-content: center;
  border-bottom: 1px solid #212121;
}
