.card {
  width: 100%;
  position: relative;
}

.card__image {
  margin-bottom: 12px;
  height: 413px;
  width: 413px;
  display: flex;
  object-fit: cover;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-btn {
 background-image: url('../images/Like-Icon.svg');
  width: 23px;
  height: 20px;
  position: relative;
  opacity: 40%;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0;
  background-color: transparent;
}

.card__delete-button{
  position: absolute;
  width: 32px;
  height: 32px;
top:10px;
  right: 10px;
  left: 371px;
  background-image: url('../images/Delete.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
  background-color: transparent;

}

.card__delete-button:hover {
  background-image: url('../images/Delete_hover.png');
}

.card__like-btn_active {
  background-image: url('../images/Liked.png');
  opacity: 100%;
}



.card__like-btn:hover {
  opacity: 100%;
}

.card__like-btn_active:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__title {
  font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0;
 text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 627px) {
.card__title {
  font-size: 16px;
}

.card__image {
width: 288px;
height: 288px;
}

.card__content{
width: 288px;
}
.card__delete-button{
  left: 246px;
}

}