.card {
  width: 100%;
}

.card__image {
  margin-bottom: 12px;
  height: 413px;
  width: 413px;
  display: flex;
  object-fit: cover;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__like-btn {
 background-image: url('../images/Like-Icon.svg');
  width: 23px;
  height: 20px;
  position: relative;
  opacity: 40%;
  border: none;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 0;
  background-color: transparent;
}

.card__like-btn:hover {
  opacity: 100%;
}


.card__title {
  font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 20px;
line-height: 120%;
letter-spacing: 0;
 text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 627px) {
.card__title {
  font-size: 16px;
}

.card__image {
width: 288px;
height: 288px;
}

.card__content{
width: 288px;
}

}