.cards{
  padding: 20px 0 40px;


}


.cards__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 413px);
  gap: 40px 20px;
  padding-bottom: 40px;
  justify-content: center;
  border-bottom: 1px solid #21212166;
}

@media screen and (max-width: 627px) {
  .cards__list {
grid-template-columns: repeat(auto-fit, 288px);
  }

}
