
.footer {
  display: flex;
  justify-content: center;
  width: 104px;
  height: 16px;
  font-family: 'Poppins', sans-serif;
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 100%;
padding-top: 60px;
padding-bottom: 60px;
}