
.footer {
  color: #212121B2;
  display: flex;
  justify-content: center;
  padding: 60px 0;
  font-family: 'Poppins', sans-serif;
font-weight: 400;
font-style: normal;
font-size: 16px;
line-height: 100%;
}

.footer__copyright {
  margin: 0;
}