.header {
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.header__logo {
  width: 94px;
  height: 26px;
  margin-left: auto;
  margin-right: auto;
}