.modal {
visibility: hidden;

background-color: #00000080;
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
justify-content: center;
align-items: center;
padding: 10px;
opacity: 0;
transition: visibility 0.3s, opacity 0.3s ease-in;
}

.modal_is-opened {
  visibility: visible;
opacity: 1;


}

.modal__container {
  max-width: 730px;
width: 100%;
border-radius: 8px;
background-color: #fff;
padding: 32px 50px;
position: relative;
box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
top: 32px;
right: 50px;
display: flex;
justify-content: center;
cursor: pointer;
opacity: 0.4;
border: none;
background-color: transparent;
padding: 0;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__close-img {
  width: 40px;
  height: 40px;
}

.modal__title {
  margin: 0 0 32px;
font-weight: 500;
font-size: 32px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__lable {
margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  border: 1px solid #21212166;
  padding: 16px 12px;
  width: 100%; box-sizing: border-box;
  border-radius: 8px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  padding: 18px 32px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  max-width: 156px;
}

.modal__submit-btn:hover {
  opacity: 0.8;
}


.modal__image-container {
  position: relative;

}

.modal__image {
 max-width: 80vw;
 max-height: 80vh;
border-radius: 8px;
border: none;
width: 100%;
object-fit: contain;
display: block;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal__caption {
  margin: 8px 0 0;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  background: #212121;
width: fit-content;
border-radius: 8px;
padding: 4px 8px;
}

.modal__close-btn_type_preview {
  width: 40px;
  height: 40px;
  top: 0px;
  right: -52.5px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #fff;
  opacity: 1;
}

.modal__close-btn_type_preview:hover {
  opacity: 0.7;
}
@media screen and (max-width: 627px) {

.modal__container {
  padding: 22px 12px 12px;
}

.modal__title  {
font-size: 20px;
}

.modal__close-btn {
  top: 12px;
  right: 12px;
}

.modal__form {
  margin-top: 34px;
}


.modal__input {
  width: 100%;
  font-size: 16px;

}

.modal__close-btn_type_preview {
  right: 0px;
  top: -48px;
  position: absolute;

}

.modal__image {
  max-width: unset;
  border-radius: 4px;
}

.modal__submit-btn {
max-width: unset;
}
}

