.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 5px;
}

.profile__column {
display: flex ;
flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;

}

.profile__description {
  margin: 0;
font-weight: 500;
}

.profile__edit-btn {
margin-top: auto;
opacity: 0.7;
font-size: 16px;
width: fit-content;
height: fit-content;
cursor: pointer;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
margin-left: auto;
padding: 18, 32, 18, 32;
width: 157px;
height: 52px;
gap: 8px;
border-radius: 8px;
background-color: #212121;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
align-self: flex-end;
cursor: pointer;
}
.profile__add-btn:hover {
  opacity: 60%;
}

.Profile__plus-icon {
  width: 12px;
  height: 12px;
  border: 2px;
}
