.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 5px;
}

.profile__column {
display: flex ;
flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  max-width: 420px;
  font-weight: 500;
   display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;

}

.profile__description {
  margin: 0;
font-weight: 500;
max-width: 420px;
 display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__edit-btn {
margin-top: auto;
opacity: 0.7;
font-size: 16px;
width: fit-content;
height: fit-content;
cursor: pointer;
border: none;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
margin-left: auto;
padding: 18, 32, 18, 32;
width: 157px;
height: 52px;
gap: 8px;
border-radius: 8px;
background-color: #212121;
color: #fff;
display: flex;
justify-content: center;
align-items: center;
align-self: flex-end;
cursor: pointer;
}
.profile__add-btn:hover {
  opacity: 60%;
}

.Profile__plus-icon {
  width: 12px;
  height: 12px;
  border: 2px;
}


@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
  }

  .profile__avatar {
  margin: 0 0 12px;
    height: 80px;
    width: 80px;
  }

.profile__edit-btn {
  align-self: center;
  width: 100%;
  margin-top: 32px;
  gap: 8px;
}

.profile__add-btn {
  align-self: center;
  width: 100%;
  margin-top: 20px;
}

.profile__name {
font-size: 20px;
margin: 0 0 6px;
max-width: 288px;
}
.profile__description{
  font-size: 16px;
  max-width: 288px;
}
}